@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 30px 150px 50px 150px;
  gap: 180px;
  margin-bottom: 50px;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
  align-self: flex-end;
}
.banner-title {
  font-size: 60px;
  border-left: 5px solid #ff5959;
  border-radius: 5px;
  padding-left: 12px;
  margin-bottom: 30px;
  line-height: 80px;
}
.banner-title span {
  color: #ffad5a;
}

.banner-description {
  font-size: 18px;
  color: #3e3e3e;
  margin-bottom: 50px;
}
.banner-btn {
  font-size: 16px;
  padding: 12px 30px;
  background-color: #ff5959;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
}
.banner-scroll {
  font-size: 16px;
  color: #434343;
}

.my-mission {
  padding: 30px 150px 50px 150px;
  margin-bottom: 50px;
  position: relative;
}

.my-mission::before 
{
  content:"";
  position: absolute;
  background-image: url("/images/shapes/shape-10.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  bottom: -80px;
  right: -170px;
  z-index: 1;
}

.my-mission > h3 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
}

.my-mission > h3 > span {
  color: #ffad5a;
}

.missions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.mission {
  background-color: rgba(79, 157, 166, 0.1);
}
.vision {
  background-color: rgba(255, 89, 89, 0.1);
}
.goal {
  background-color: rgba(255, 244, 214, 1);
}

.mission,
.vision,
.goal {
  padding: 25px 32px 45px;
  border-radius: 26px;
}
.mission-title {
  font-weight: 700;
  font-size: 24px;
}
.mission-icon {
  width: 150px;
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
}
.mission-icon img {
  max-width: 100%;
  height: auto;
  display: block;
}

.develop
{
  margin-bottom: 100px ;
}
.develop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  padding: 85px 150px 85px 150px;
  position: relative;
}

.develop-container::after{
  content: "";
  position: absolute;
  background-image: url("/images/shapes/shape-10.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  bottom: -40px;
  left: -180px;
}
.coding-img {
  max-width: 500px;
  height: auto;
  position: relative;
}
.coding-img img {
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}

.coding-img::before {
  width: 200px;
  height: 200px;
  position: absolute;
  content: "";
  background-image: url("/images/shapes/shape-1.png");
  background-size: contain;
  top: 80px;
  left: -80px;
  z-index: 1;
}
.develop-heading {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 18px;
  line-height: auto;
}

.develop-description {
  font-size: 18px;
  color: #3e3e3e;
  margin-bottom: 18px;
  line-height: 30px;
}

.btn {
  padding: 14px 30px;
  background-color: #ff5959;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

/* responsive styles */

/* small device */

@media screen and (max-width: 576px) {
  .banner {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
  }
  .banner-content {
    text-align: center;
  }
  .banner-title {
    font-size: 36px;
    line-height: 60px;
  }

  .banner-description {
    font-size: 16px;
    text-align: justify;
  }
  .banner-image {
    order: -1;
  }

  .my-mission {
    padding: 20px;
  }

  .my-mission::before 
  {
    display: none;
  }

  .missions {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .develop-container {
    grid-template-columns: 1fr;
    padding: 20px;
    margin-bottom: 50px;
  }

  .develop-description {
    text-align: justify;
  }

  .develop-container::after 
  {
    display: none;
  }
  .coding-img::before {
    display: none;
  }
}
